@import "abstracts/functions";
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";

@import "layout/header";
@import "layout/grid";

@import "pages/home";

.heading-primary {
  margin-bottom: 6rem;
  text-align: center;
  text-transform: uppercase;
  color: $color-white;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  //to make the color of the text same as  the background
  background: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    )
    center/cover no-repeat;
  -webkit-background-clip: text;
  color: transparent;

  transition: all 0.2s ease-in-out;

  &:hover {
    transform: skewX(15deg) skewY(2deg) scale(1.1);
    text-decoration: 0.5 1rem 2rem rgba($color-black, 0.5);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}
