.feature-box {
  background-color: rgba($color-white, 0.6);
  text-align: center;
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
  transition: all 0.2s;

  @include respond(tablet-port) {
    padding: 2rem;
  }

  &:hover {
    transform: scale(1.2) translateY(-1.5rem);
  }

  &__icon {
    display: inline-block;
    font-size: 6rem;
    color: transparent;
    background: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    );
    -webkit-background-clip: text;
    margin-bottom: 1.5rem;

    @include respond(tablet-port) {
      margin-bottom: 0;
    }
  }
}
